#git-user-container
{
	position: relative;
	height: auto;	
}

a,img,button
{
	outline: none !important;
}

#git-user-container .git-loader
{
	position: absolute;
	left: 45%;
	top: 45%;
}

.git-error
{
	border: 1px solid #ac5330 !important;
	color: #cccccc;
}

#git-user-container p 
{
    margin-bottom: 0 !important;
}

#git-user-container #submit-contact-form
{
	color: #FFFFFF;
    font-size: 18px;
    border: 1px solid #cccccc;
    font-weight: 400;
    margin: 10px 0;
    border-radius: 5px;
    text-transform: none !important;
    padding: 5px 15px;
    background-image: none !important;
    transition-duration:1s;
	-webkit-transition-duration:1s;
    opacity: 1;
}

#git-user-container #submit-contact-form:hover
{
	opacity: 0.65;
	background-image: none !important;
	transition-duration:1s;
	-webkit-transition-duration:1s;
}

#git-user-container .git_thanks_text 
{
    color: #008000;
    font-size: 20px;
    text-align: left;
}

#git-user-container i
{
	color: red;
}

.git-fields-container i p
{
	font-size: 13px;
	background: url('../img/cancel.png') no-repeat left center;
	padding-left: 15px;
}

#git-user-container input, #git-user-container input
{
	border: 1px solid #cccccc;
}

#git-user-container input:focus, #git-user-container textarea:focus
{
	border-color: #66afe9;
    outline: 0 none;
}

#git-user-container input, #git-user-container textarea
{
	width: 100%;
	padding: 10px;
	border: 1px solid #cccccc;
	resize: none;
	color: #252525;
}

#recaptcha_area, #recaptcha_table
{
	width: 100% !important;
}