.git-1, .git-2, .git-3, .git-4, .git-5, .git-6, .git-7, .git-8, .git-9, .git-10, .git-11, .git-12 
{
    float: left;
}

.git-12
{
  width: 99%;  
  background-color: #ffffff;
}

.git-11
{
  width: 90.75%;
}

.git-10
{
  width: 82.8%;
}

.git-9
{
  width: 74.25%;
}

.git-8
{
  width: 66%;
}

.git-7
{
  width: 57.75%;
}

.git-6
{
  width: 49.5%;
}

.git-5
{
  width: 41.25%;
}

.git-4
{
  width: 33%;
}

.git-3
{
  width: 24.75%;
}

.git-2
{
  width: 16.5%;
}

.git-1
{
  width: 8.25%;
}

.git-container .main_dashboard 
{
    background-color: #FFFFFF;    
    padding: 10px;
}

.git-container .welcome-pluginmsg
{
	color: #008000;
    font-size: 20px;
}

.git-container h1
{
	margin-bottom: 25px;
	margin-top: 0;
	font-weight: normal;
	padding: 20px 15px;
	border-bottom: 1px solid #c2c2c2;
}

.git-container .git-loader
{
	display: block;	
	position: absolute;
	left: 48%;
	height: 50px;
	z-index: 9999;
	width: 50px;
	top: 12%;
}

.git-container select.error, .git-container input.error, .git-container textarea.error 
{    
    color: #000000;
    border: 1px solid #ac5330;
}

.git-container textarea
{
	resize: none !important;
}

.git-container #git-form-container-holder
{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);    
  	height: 100%;
    width: 100%;
    position: fixed; 
    left: 0px;   
    top: 0px;    
    z-index: 9999;
}

.git-container #git-form-container-holder .inner-container
{
	width: 50%;
	display: block;
	height: 500px;
	border: 5px solid #cccccc;	
	background-color: #ffffff;	
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -350px;
	margin-top: -250px;
	text-align: center;
}

.git-container #close-button
{
	cursor: pointer;
	display: none;
	position: absolute;
	z-index: 99999;
	background: url("../img/icon/close-button.png") no-repeat center center;
	height: 30px;
	width: 30px;
    right: 340px;
    top: 50px;
}

.git-container .right
{
	float: right;
}

.git-container .box
{
	position: relative;
	border: none !important;
}

.git-container .box-content
{
	margin: 15px;
	min-height: 300px;	
}

.git-container .git-form-box
{
	background-color: #ffffff;
	padding: 20px 20px;
	margin: 10px 0 30px;
}

.git-container .git-form-box h2
{
	margin-bottom: 25px;
	margin-top: 0;
	font-weight: normal;
	padding-bottom: 15px;
	border-bottom: 1px solid #f7f7f7;
}	

.git-container .box-header p
{
	line-height: 0;
	font-size: 20px;
}

.git-container .box-header.well 
{
    background-color: #FFFFFF;    
    margin: 15px;
    padding: 5px 15px;
}

.git-container .box-header a
{	
	color: #bc7878 !important;
	text-transform: uppercase;
	outline: none;
	text-decoration: underline;
}

.git-container .admin-form-input
{
	position: relative;
}

.git-container #admin-close-input
{
	position: absolute;
	right: 490px;
	top: 0;
	cursor: pointer;
}

.git-container #git_logo
{
	background: url('../img/git.png') no-repeat left top transparent;
	height: 20px;
	width: 20px;
}

.git-container #git-heading
{
	color: #cccccc; 
	margin-left: -10px;
    transition-duration: 2s;
    width: 200px;
    cursor: pointer;
}

.git-container #git-heading:hover
{
	color: #ff0010;
}

.git-container #initial_form
{
	height: auto;
	width: 100%;
}

.git-container #ini_form_content #ini_form_content_area
{
	resize: none;
}

.git-container #ini_form_content_form p
{
	margin-top: 13px;
}

.git-container #input-options ul
{
	list-style: none;
	height: auto;	
	margin: 0px auto;
	display: table;
}

.git-container #input-options li
{	
	padding: 10px 30px;
	float: left;
	border-right: 1px dashed #cccccc;
	color: #252525;
	font-size: 18px;
	margin: 15px 0;
	cursor: pointer;	
}

.git-container #input-options li:last-child
{
	border-right: none;
}

.git-container #input-options li p:hover
{
	color: #ff0010;
}

.git-container #quick-panel
{
	background-color: #ffffff;
	height: auto;
	width: 100%;
	position: relative;	
	display: none;
	margin-bottom: 20px;
	padding: 20px 0;	
}

.git-container #quick-panel .input-fields-options
{
	display: table;
}

.git-container #quick-panel .git-fields-container
{
	margin-left: 30px;
	padding: 0 !important;
	float: left;
}

.git-container #quick-panel td
{
	text-align: center;
	font-size: 14px;	
}

.git-container #quick-panel button
{
	margin: 10px auto 0 !important;
	display: block !important;
}

.git-container #quick-panel input
{
	height: 40px;
    margin: 5px 30px;
    width: 220px;
}

.git-container .wp-color-result
{
	margin: 0 !important;
	height: 35px !important;
}

.git-container .wp-picker-input-wrap input
{
	height: 35px !important;
}

.git-container .wp-picker-container .iris-picker
{
	position: absolute;
	z-index: 999;
}

.git-container .wp-color-result:after
{
	line-height: 35px !important;
}

.git-container .selected-field
{
	font-size: 22px;
	margin-top: 0;
	text-align: center;
	color: #858585;
}

.git-container #input-options
{
	background-color: #ffffff;
	margin-bottom: 30px;
	border-bottom: 1px solid #f7f7f7;
}

.git-container #close-quick-panel
{
	cursor: pointer;	
	position: absolute;
	top: 5px;
	right: 5px;	
	font-size: 18px;	
	font-weight: 600;
}

.git-container .btn-style
{
	margin-left: 80px;
}

.git-container #form-submit-success
{
	color: #606060;
    display: block;
    font-size: 25px;
    font-weight: 600;
    left: 50%;
    margin-left: -210px;
    position: absolute;
    top: 50%;
}

.git-container .table
{
	border-radius: 5px;
}

.git-container .forms-view-head
{
	background-color: #eeeeee;
}

.git-container #delete-all-form-data
{
	text-align: center;	
	font-size: 18px;
	color: #ff0010;
	text-decoration: none;
	padding-left: 25px;
	outline: none;
}

.git-container .git_choice 
{  
    font: 10px verdana, sans-serif;  
    margin: 0 auto 40px auto;  
    width: 180px;  
}  

.git-container .form-view-container a
{
	background-color: #eeeeee;    
    color: #444444;
    padding: 4px 5px;
    border-radius: 10px;
    transition-duration:1s;
	-webkit-transition-duration:1s;
    text-decoration: none !important;
}

.git-container .form-view-container td:last-child
{
	width: 190px;
}

.git-container #contact-mail-table td h4
{
	margin: 10px 0 !important;
}

.git-container .form-view-container input
{
	width: 100%;
	height: 30px;	
}

.git-container .form-view-container
{
	padding: 10px 10px 50px 10px;
	width: 100%;
	background-color: #ffffff;
}

.git-container .form-view-container tr:first-child
{
	background-color: #5FC25D;
    font-size: 20px;
    color: #ffffff;
    height: 50px;    
    text-align: center;
}

.git-container .form-view-container tr
{
	width: 100%;
	height: 50px;
}

.git-container .form-view-container tr td:first-child
{
	border-left: 1px solid #cccccc;
}

.git-container #contact-mail-table tr
{
	height: 30px !important;
}

.git-container .form-view-container td
{
	border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    font-size: 16px;
    padding: 0 10px;
}

.git-container .form-view-container a:hover
{
	color: #ff0010;
	background-color: #ffffff;
	transition-duration:1s;
	-webkit-transition-duration:1s;
}

.git-container .deleteformdata
{
	background-color: #eeeeee;    
    color: #444444;
    padding: 5px;
    border-radius: 10px;
    transition-duration:1s;
	-webkit-transition-duration:1s;
    text-decoration: none !important;
}

.git-container .deleteformdata:hover
{
	color: #ff0010;
	background-color: #ffffff;
	transition-duration:1s;
	-webkit-transition-duration:1s;
}

.git-container .git-banner
{
    height: 200px;
    margin-bottom: 20px;
    width: 100%;
}

.git-container .dashboard-title
{
	border: 1px solid #f7f7f7;
    height: 70px;
    padding: 10px 0 0 20px;
    width: auto;
    margin-bottom: 20px;
}

.git-container .dashboard-title .plugin_name
{
	color: #444444;
    font-size: 25px;
    text-decoration: none;
    outline: none;
}

.git-container .dashboard-title .think201
{
	cursor: pointer;
	background: url("../img/think201.png") no-repeat center center;
	height: 20px;
	width: 83px;
	float: right;
	margin: 8px 20px 0 0;
	outline: none;
}

.git-container .dashboard-title > p 
{
    float: right;
    margin: 15px;
}

.git-container .dashboard-title ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

.git-container .dashboard-title ul li
{
	float: left;
}

.git-container .dashboard-title .social
{
	color: #444444;
    float: left;
    font-size: 25px;
    padding: 10px 20px 0 0;
    text-decoration: none;
    outline: none;
}

.git-container .dashboard-title > h4 
{
    float: left;
    width: 200px;
}

.git-container .dashboard-title span
{
	float: left;
	cursor: pointer;
}

.git-container .dashboard-title .social-holder
{
	float: right;
	padding: 5px 20px;
}

.git-container .dashboard-title .twitter
{
	background: url('../img/twitter.png') no-repeat left top transparent;
	height: 50px;
	width: 50px;
	margin-right: 20px;
}

.git-container .dashboard-title .fb
{
	background: url('../img/facebook.png') no-repeat left top transparent;
	height: 50px;
	width: 50px;
}

.git-container .plugin_section
{
	border: 1px solid #f7f7f7;
    margin: 0px 12px 12px 0px;
    padding: 20px;    
}

.git-container .plugin_section ul
{
	list-style: outside;
	padding: 0px 20px 0 20px;
}

.git-container .plugin_section ul li
{
	font-size: 13px;
}

.git-container .about_think201 .think201
{
	cursor: pointer;
	background: url("../img/think201.png") no-repeat center center;
	height: 20px;
	width: 100%;
	float: left;
	margin: 10px;
	outline: none;
}

.git-container .about_think201 > p
{
	padding: 0px 12px;
}

.git-container .plugin_section .plugin_site
{
	border-radius: 0 !important;
}

.git-container .extra_section .about_think201
{
	border: 1px solid #f7f7f7;
    height: 110px;
    width: 100%;
}

.git-container .plugin_section p 
{
    font-size: 13px;
    margin-bottom: 20px;
}

.git-container .extra_section .about_developer
{
	border: 1px solid #f7f7f7;
    height: 260px;
    margin-top: 15px;
    width: 100%;
}

.git-container .git-btn
{
    background-color: #454545;
    border-radius: 0;
    color: #FFFFFF;    
    margin: 0px;
    display: inline-block;
    height: auto; 
    padding: 10px;
    text-decoration: none;
    width: auto;
    cursor: pointer;
}

.git-container .extra_section .about_developer h5
{
	font-weight: 600;
    padding-top: 5px;
    text-align: center;
}

.git-container .extra_section .about_developer h5 a
{
	color: #444444;
	outline: none;
	font-size: 14px;
}

.git-container .about_developer a
{
	text-decoration: none !important;
	outline: none;
}

.git-container .about_developer p
{
	padding: 0 15px;	
}

.git-container .git-fields-container:last-child
{
	margin-bottom: 0;
}

.git-container .git-fields-container label 
{
    font-size: 18px;
    margin-bottom: 10px;
    display: block;    
}

.git-container .git-fields-container input
{
    font-weight: 600;
    height: 40px;
    width: 100%;
    border-radius: none;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #333333;
    transition: border-color 0.05s ease-in-out 0s;
}

.git-container .git-fields-container select
{
	height: 40px;
	width: 100%;
	padding: 8px;
}

.git-container .git-fields-container textarea
{
    font-weight: 600;
    height: 150px;
    background-color: #f1f1f1;
    width: 100%;
    padding: 10px;
    border-radius: none;
    font-size: 20px;    
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #333333;
    transition: border-color 0.05s ease-in-out 0s;
}

.git-container .git-fields-container input[type=checkbox]
{
	width: 0;
}

.git-container .git-fields-container 
{
    margin: 5px 0 20px 0;
}

.git-container .git-disable
{
	cursor: not-allowed;
}

.git-container .git-input-field-status
{
	display: none;
	background-color: #76d974;
    color: #FFFFFF;    
    font-weight: 600;
    left: 25%;
    padding: 25px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 50%;
    border-radius: 20px;
}

.git-container #update_form_content
{
	padding-bottom: 100px;
}